body {
    background-image: linear-gradient(90deg, rgba(251, 72, 72, 0.706), rgba(202, 18, 202, 0.518));
    font: normal 2vh monospace;
    text-align: center;
}
p {
    font: bolder 20pt monospace;
}